<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    {% extends "base.html" %}{% set active_page = "telescopes" %} {% block
    navigation %} {{ super() }}
    <br />

    <div class="title">Three of the Major Space Telescopes</div>
    {% for t in tel %}

    <div class="subtitle">{{t['name']}}</div>

    <img src={{t['picture']}} alt="telescope" class="index_img" />
    <div>{{t['text']}}</div>

    <br />
    <p><i>Launched: {{t['launched']}}</i></p>
    <p><i>Status: {{t['status']}}</i></p>

    {%endfor%} {% endblock %}
  </body>
</html>
